In [64]:
from selenium import webdriver
import pickle
from selenium.webdriver.common.by import By
import pandas as pd

In [7]:

def save_cookie(driver):
    with open("cookie", 'wb') as filehandler:
        pickle.dump(driver.get_cookies(), filehandler)
def load_cookie(driver):
     with open("cookie", 'rb') as cookiesfile:
         cookies = pickle.load(cookiesfile)
         for cookie in cookies:
             print(cookie)
             driver.add_cookie(cookie)

In [21]:
driver = webdriver.Chrome()
driver.get("https://study4.com/tests/4590/ets-23-toeic-test-1/practice/?part=9773&part=9774&part=9775&part=9776&part=9777&part=9778&part=9779")
driver.add_cookie({"name": "sessionid", "value": "enuahhni1nzhwklu1geawox96uaqoece"})
driver.get("https://study4.com/tests/4590/ets-23-toeic-test-1/practice/?part=9773&part=9774&part=9775&part=9776&part=9777&part=9778&part=9779")

In [29]:
part5 = driver.find_element(by=By.XPATH, value="//*[@id='partcontent-9777']/div[2]")

In [36]:
children = part5.find_elements(By.XPATH, '*')

In [65]:
res = []
for child in children:
    res.append(child.text)
res[1]

'101\nWhen she held her last meeting, Ms. Toba ------- her sales staff to perform even better next quarter.\nA. encourage\nB. is encouraging\nC. encouraged\nD. was encouraged'

In [69]:
res[1].split('\n')

['101',
 'When she held her last meeting, Ms. Toba ------- her sales staff to perform even better next quarter.',
 'A. encourage',
 'B. is encouraging',
 'C. encouraged',
 'D. was encouraged']

In [87]:
data = {}
idx = []
question = []
answers = []
nu = []
for row in res:
    curRow = row.split('\n')
    if len(curRow) == 6:
        idx.append(curRow[0])
        question.append(curRow[1])
        for i in range(4):
            if i != 0:
                idx.append('')
                question.append('')
            answers.append(curRow[2+i])
            nu.append('')
data = {'Question_id': idx, 'Question_text': question, 'Test_name(ETS23-Test1)':nu,'Answer_id':nu, 'Answer_text': answers, 'isTrue':nu}
df = pd.DataFrame(data).reset_index(drop=True)

df.to_csv("part5.csv", index=False)

In [82]:
df.head()

   idx                                          questions            answers
0  101  When she held her last meeting, Ms. Toba -----...       A. encourage
1  101  When she held her last meeting, Ms. Toba -----...  B. is encouraging
2  101  When she held her last meeting, Ms. Toba -----...      C. encouraged
3  101  When she held her last meeting, Ms. Toba -----...  D. was encouraged
4  102  All staff have been informed ------- the propo...             A. for

In [17]:
driver.quit()